.heroSection {
    background: linear-gradient(
         rgba(0, 0, 0, 0.5), 
         rgba(0, 0, 0, 0.9)
      ), 
      url('https://img.freepik.com/free-photo/abstract-dark-background-with-purple-lines-generative-ai_169016-30670.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724025600&semt=ais_hybrid') no-repeat center center;
    background-size: cover;
  }
  
  .headline {
    font-size: 3rem;
    color: #bba270;
  }
  
  .subheadline {
    font-size: 1.5rem;
    color: #e1e1e1;
    margin-bottom: 1rem;
  }
  
  .subheadline .fa-icon {
    margin: 0 1rem;
  }
  
  .ctaButton {
    background-color: #ff5722;
    border-radius: 50px;
    margin-top: 2rem; 
  }
  
  .robotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  
  .robotImage {
    width: 200px;
    height: auto;
  }
  
  .speechBubble {
    position: relative;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
  }
  
  .speechBubble::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
  
  @media (max-width: 768px) {
    .headline {
      font-size: 2.5rem;
    }
  
    .subheadline {
      font-size: 1.2rem;
    }
  
    .ctaButton {
      font-size: 1rem;
      padding: 8px 16px;
    }
    
    .robotImage {
      width: 80px;
    }
  
    .speechBubble {
      width: 150px;
    }
  }
  